{% extends 'base.html' %}
{% block page_title %}Member{% endblock %}
{% block title %}Member{% endblock %}
{% block style %}
    .content {
        margin: 40px;
    }
    .new-member{
        color:#0097a9;
    }
    .member{
        color:#008a9a;
    }
    a:hover{
        opacity: 0.6;
    }
    td{
        text-align: center;
    }
{% endblock %}
{% block content %}
    <a class="new-member" href="{% url 'member:add' %}">新規メンバー登録</a>
    <table border="1" style="border-collapse: collapse" cellpadding="5px">
        <tr>
            <th>名前</th>
            <th>年齢</th>
            <th>パートナー番号</th>
            <th>時給</th>
            <th>カウンター</th>
            <th>フライヤー</th>
            <th>厨房</th>
            <th>SMG</th>
            <th>オープン</th>
        </tr>
        {% for member in members %}
        <tr>
            <td>
                <a class="member" href="{% url 'member:modify' member.partner_number %}">
                    {{ member.name }}
                </a>
            </td>
            <td>{{ member.age }}</td>
            <td>{{ member.partner_number }}</td>
            <td>{{ member.hourly_pay }}</td>
            <td>
                {% if member.is_counter %}
                    ○
                {% endif %}
            </td>
            <td>
                {% if member.is_fryer %}
                    ○
                {% endif %}
            </td>
            <td>
                {% if member.is_kitchen %}
                    ○
                {% endif %}
            </td>
            <td>
                {% if member.is_smg %}
                    ○
                {% endif %}
            </td>
            <td>
                {% if member.is_opener %}
                    ○
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}