{% extends 'base.html' %}
{% block page_title %}Member{% endblock %}
{% block title %}Member{% endblock %}
{% block style %}
    .content{
        margin:40px;
    }
    .button{
        margin: 20px 0;
        padding:7px 30px;
        font-size:13px;
        background-color:#4ac7d6;
        color: #fff;
        border-radius: 25px;
    }
    .button:hover{
{#        background-color:#4ac7d6;#}
        color: #333333;
        transition: all 0.3s ease 0s;
    }
    .delete{
        background-color:#d6343b;
    }
    .delete:hover{
        color: #333333;
    }
{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ error }}
        <h2>メンバー情報</h2>
        <table cellpadding="8">
            <tr>
                <td>名前</td>
                <td>: {{ form.name }}</td>
            </tr>
            <tr>
                <td>年齢</td>
                <td>: {{ form.age }}歳</td>
            </tr>
            <tr>
                <td>時給</td>
                <td>: {{ form.hourly_pay }}円</td>
            </tr>
        </table>
        <h2>ポジション</h2>
        <table cellpadding="3">
            <tr>
                <td>{{ form.is_counter }}</td>
                <td>カウンター</td>
            </tr>
            <tr>
                <td>{{ form.is_fryer }}</td>
                <td>フライヤー</td>
          </tr>
            <tr>
                <td>{{ form.is_kitchen }}</td>
                <td>厨房</td>
            </tr>
        </table>



        <h2>その他</h2>
        <table cellpadding="3">
            <tr>
                <td>{{ form.is_smg }}</td>
                <td>シフトマネージャー</td>
            </tr>
            <tr>
                <td>{{ form.is_opener }}</td>
                <td>オープン</td>
            </tr>
        </table>

        <button type="submit" name="update" class="button">
            更新
        </button>
        <hr>
        <button type="submit" name="delete" class="button delete" onclick="return confirm('本当に削除しますか？');">
            削除
        </button>
    </form>
{% endblock %}